<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="ok">
            <div class="title">
            <h1>Регистрация</h1><br>
            <p>создайте учётную запись</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div>
                    {% for field in form %}
                <div>
                    {{field.label_tag}}
                    <div>{{ field }}</div>
                    {% if field.errors %}
                    <div class="error">{{field.errors}}</div>
                    {% endif %}
                </div>
                {% endfor %}
                </div>
                <input type="submit" value="Send" >
            </form>
            <a href="inflex/" class="btx">Вохд</a>
        </div>


    </div>
</body>
</html>